/superr_*
/tools/devices/*/superr_byname
/tools/devices/*/superr_capbyname
/tools/devices/*/superr_appbyname
/tools/devices/*/sysimgsize
/tools/boot/*.zip
/tools/open_bump.py
/tools/root/bloat_custom
/tools/depmet
